body{
background-color: antiquewhite;
}
#image
{
    width: 300px;
}
.first
{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    
    
}
h1{
    text-align: center;
}
 
#button{
     
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}
 #no
 {
    margin-left: 50px;
 }
 